_pychache_
__pycache__/
*.py[cod]
*$py.class

venv/
env/

.vscode/
.idea/

*.log
*.tmp

*.sqlite3

pip-log.txt
pip-delete-this-directory.txt

.eggs/
*.egg-info/
dist/
build/

.ipynb_checkpoints/

.DS_Store
